.carousel-wrapper {
  max-width: 2560px;
}

.carousel-image-wrapper {
  max-height: 300px;
  overflow: hidden;

  &__image {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .carousel-image-wrapper {
    max-height: 450px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-image-wrapper {
    max-height: 600px;
  }
}
